span:nth-child(1) {
    color: #4181ed;
}
span:nth-child(2) {
    color: #e43f34;
}
span:nth-child(3) {
    color: #f1b609;
}
span:nth-child(4) {
    color: #4181ed;
}
span:nth-child(5) {
    color: #31a350;
}
span:nth-child(6) {
    color: #e43f34;
}
span:nth-child(7) {
    color: #f1b609;
}
span:nth-child(8) {
    color: #4181ed;
}
h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 300px;
}
.search-bar {
    width: 500px;
}
.div {
    margin-top: 30px;
}
input {
    text-align: center;
}
.search-bar {
    width: 500px;
}